body{
	background: white;
	margin-left: 250px;
	margin-right:250px;
	padding: 0px;
}
h1{
	color: black;
	font-family: helveticaneue, sansserif;
	font-weight: bold;
	font-size: 60px;
	line-height: 62px;
	padding: 0px;
}
h3, h4{
	color: black;
	font-family: helveticaneue, sansserif;
	font-weight: bold;
}
h5{
	color: black;
	font-family: palatino;
	font-weight: bold;
}
p{
	color: black;
	font-family: palatino;
}
.description {
	color: gray;
	font-family: palatino;
	padding: 0px;
}